:root {
  --teal: #14b8a6;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.18);

  --loader: linear-gradient(
    90deg,
    var(--ternary) 15%,
    var(--gradient),
    var(--ternary) 75%
  );
}

:root[data-color-mode="light"] {
  --primary: #f7f8fc;
  --secondary: #ffffff;
  --ternary: #f6f7f8;

  --text: black;
  --gradient: #eaeaea;

  --border: #eaeaea;
  --footer: #94a3b8;
}

:root[data-color-mode="dark"] {
  --primary: #0d2438;
  --secondary: #102d44;
  --ternary: #1e3851;

  --text: white;
  --gradient: var(--secondary);

  --border: var(--ternary);
  --footer: var(--ternary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body,
#app {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  font-family: Nunito;
  background-color: var(--primary);
  color: var(--text);
  overflow-x: hidden;
  transition: background-color 300ms ease;
}

.menu-open {
  overflow-y: hidden;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: 4rem;
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.title {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.content > .title {
  text-align: center;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-right: 6rem;
    padding-left: 6rem;
  }
}

@font-face {
  font-family: "Nunito";
  font-display: swap;
  src: local("Nunito"),
    url(./assets/fonts/Nunito-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Nunito-Light";
  font-display: swap;
  src: local("Nunito"), url(./assets/fonts/Nunito-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Nunito-Bold";
  font-display: swap;
  src: local("Nunito"), url(./assets/fonts/Nunito-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Nunito-Italic";
  font-display: swap;
  src: local("Nunito"), url(./assets/fonts/Nunito-Italic.ttf) format("truetype");
}
